/*$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$padding-base-vertical: 10px;
$padding-base-horizontal: 15px;
$padding-large-vertical: 16px;
$padding-large-horizontal: 20px;
*/
$body-bg: #f2f2f2;

@import 'bootstrap';

.field_with_errors {
  @extend .has-error;
}

.alert.alert-notice {
  @extend .alert;
  @extend .alert-success;
}

.form-actions {
  padding-top: $padding-base-vertical;
}

.narrow {
  max-width: 600px;
  margin: 0 auto;
}

.radio, .radio-inline {
  label {
    font-weight: normal;
  }
}

.btn-toolbar {
  padding: $padding-base-vertical 0;
}

.media {
  background: #fff;
  padding: $padding-base-vertical $padding-base-horizontal;
}

blockquote {
  background: #fff;
}



@media(min-width:768px) {
  body {
    margin-top: 50px;
  }
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #fff;
}

.huge {
  font-size: 50px;
  line-height: normal;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 225px;
  }

  #page-wrapper {
    padding: 10px;
  }
}

/* Top Navigation */

.top-nav {
  padding: 0 15px;
}

.top-nav>li {
  display: inline-block;
  float: left;
}

.top-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
  color: #fff;
  background-color: #000;
}

.top-nav>.open>.dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0,0,0,.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
  white-space: normal;
}

ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
  padding-top: 15px;
  padding-bottom: 15px;
}

li.message-footer {
  margin: 5px 0;
}

ul.alert-dropdown {
  width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
  .side-nav {
    position: fixed;
    top: 51px;
    width: 225px;
    /*margin-left: -225px;*/
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }

  .side-nav>li>a {
    width: 225px;
  }

  .side-nav li a:hover,
  .side-nav li a:focus {
    outline: none;
    background-color: #000 !important;
  }
}

.side-nav>li>ul {
  padding: 0;
}

.side-nav>li>ul>li>a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #999;
}

.side-nav>li>ul>li>a:hover {
  color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

/* Custom Colored Panels */

.huge {
  font-size: 40px;
}

.panel-green {
  border-color: #5cb85c;
}

.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: #fff;
}

.panel-green > a {
  color: #5cb85c;
}

.panel-green > a:hover {
  color: #3d8b3d;
}

.panel-red {
  border-color: #d9534f;
}

.panel-red > .panel-heading {
}

.panel-red > a {
  color: #d9534f;
}

.panel-red > a:hover {
  color: #b52b27;
}

.panel-yellow {
  border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  /*background-color: #f0ad4e;*/
}

.panel-yellow > a {
  color: #f0ad4e;
}

.panel-yellow > a:hover {
  color: #df8a13;
}


.admin-content {
  margin-top: 5%;
  width: 100%;
  margin-left: 5%;
}

.navbar-inverse .navbar-nav > li > a.active {
  background-color: black;
}

.btn-full-width {
  display:block;
  width:100%;
  padding: 10px;
}

.btn.btn-primary.btn-visited:visited{
  color: white;
}

.margin-top-20 {
  margin-top: 20px;
}

.admin-heading-block > i {
  margin-right: 11%;
}

.admin-group-block > i{
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  margin-right: 10%;
}

.sys-panel {
  margin-top: 60px;
  background-color: #66afe9;
}

.list-group-item > .block-100 {
  width: 150px;
  padding-left: 20px;
  overflow-y: hidden;
  white-space: nowrap;
  display: inline-block;
}


.list-group-item > .pull-right{
  margin-top: 0px;
}

.list-group-item-heading > h2 {
  display: inline-block;
  margin-right: 4%;
}

.mobile-menu {
  display:block;
  overflow:hidden;
  white-space:nowrap;
}


.event-admin-general {
  display: block;
  float: none;
  width: 50%;
}

.event-admin-second {

}

.event-admin-img {
  float:left;
  margin: 0px 10px 0px 0px;
  height:130px;
  margin-left: 20px;

}

.mchs-header {
  white-space: nowrap;
  display: inline-block;
  color: darkred;
}

.list-group-item.list-news-item.sys-open-height > .pull-left {
  width:17%;
}

.list-group-item.list-news-item {
  height: 300px;
  overflow: hidden;
  margin-top: 3%;
}

.news-img {
  float: left;
  margin:10px;
  height: 100%;
  width: 150px;
  max-height: 200px ;
}

.preview-img {
  display: inline-block;
  width: 200px;
}

.pull-left-news {
  width: 17%;
  margin-right: 40px;
}

.btn-create-news {
  width:100%;
}

.img-news > input {
  margin-top: 10px;
}

.error-search{
  z-index: 999;
  background-color: gainsboro; 
  text-align: center;
  margin-bottom: auto;
}

.workbranch-dropdown-menu {
  color: white;
}

.workbranch-dropdown-menu > li > a {
  color: white !important ;
} 