body {
    background: #87da85 ;
    background-image: url("../img/login-img.png");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.content {
    height: 100%;

}

.content  .row {
    padding-left: 35%;
    padding-right: 35%;
    padding-top:27%;

}

.form-login {
    background-color: lavender;
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    /*opacity: 0.99;*/
    box-shadow: 0 1px 0 #cfcfcf;
}

.page-header h1 {
    text-align: center;
}

.form-control {
    border-radius: 10px;
}

.login-err-msg {
    display: inline-block;
    margin-left: 5px;
    color: darkred;
}
.wrapper {
    text-align: center;
}